<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.23" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="OpenSSL.PrivateKeyDecoder" version="1.2.0" targetFramework="net472" />
  <package id="OpenSSL.X509Certificate2.Provider" version="1.2.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="88.0.4324.2700" targetFramework="net472" />
  <package id="SSH.NET" version="2020.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="Twilio" version="5.54.0" targetFramework="net472" />
  <package id="Twilio.Api" version="1.0.6" targetFramework="net472" />
  <package id="Twilio.TwiML" version="3.0" targetFramework="net472" />
  <package id="Twilio.WebApi" version="1.0.0.0" targetFramework="net472" />
</packages>